<a href="https://colab.research.google.com/github/Anand0111/MLInfidata/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv("titanic.csv")
df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [37]:
data=df[['PassengerId','Pclass','Sex']]
data

     PassengerId  Pclass     Sex
0              1       3    male
1              2       1  female
2              3       3  female
3              4       1  female
4              5       3    male
..           ...     ...     ...
886          887       2    male
887          888       1  female
888          889       3  female
889          890       1    male
890          891       3    male

[891 rows x 3 columns]

In [38]:
target=df['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [39]:
l_sex=LabelEncoder()

In [40]:
data['gendern']=l_sex.fit_transform(data['Sex'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
datan=data.drop(['Sex'],axis='columns')

In [42]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [43]:
model.fit(datan,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
model.predict([[700,2,0]])

array([1])

In [45]:
model.score(datan,target)

1.0